
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: black;
  padding: 15px;
  height: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-right:25px;
  padding: 15px;
}

.genre-checkbox {
  display: block;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right:5px;
  background-color: #f8f8f8;
}

.genre-checkbox input {
  margin-right: 10px;
}


.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-options {
  margin-bottom: 10px;
}

.footer-options a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}
