/* styles.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: black;
  padding: 15px;
  height: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.genre-checkbox {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.genre-checkbox input {
  margin-right: 5px;
}

.ok-button-container {
  text-align: center;
  margin-top: 20px;
}

.ok-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok-button:hover {
  background-color: #45a049;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-options {
  margin-bottom: 10px;
}

.footer-options a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
}
